@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
@*<h1>@ViewData["Title"]</h1>

<p>@Model.Message</p>*@

<iframe src="https://calendar.google.com/calendar/embed?src=7jfj241ldaalc9rijq9nnad3ck%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="1100" height="750" frameborder="0" scrolling="no"></iframe>